<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="risk.engine.db.dao.EngineResultMapper">
  <resultMap id="BaseResultMap" type="risk.engine.db.entity.EngineResultPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flow_no" jdbcType="VARCHAR" property="flowNo" />
    <result column="risk_flow_no" jdbcType="VARCHAR" property="riskFlowNo" />
    <result column="incident_code" jdbcType="VARCHAR" property="incidentCode" />
    <result column="incident_name" jdbcType="VARCHAR" property="incidentName" />
    <result column="request_payload" jdbcType="LONGVARCHAR" property="requestPayload" />
    <result column="primary_element" jdbcType="LONGVARCHAR" property="primaryElement" />
    <result column="metric" jdbcType="LONGVARCHAR" property="metric" />
    <result column="extra" jdbcType="LONGVARCHAR" property="extra" />
    <result column="hit_online_rules" jdbcType="LONGVARCHAR" property="hitOnlineRules" />
    <result column="hit_mock_rules" jdbcType="LONGVARCHAR" property="hitMockRules" />
    <result column="primary_rule" jdbcType="LONGVARCHAR" property="primaryRule" />
    <result column="decision_result" jdbcType="VARCHAR" property="decisionResult" />
    <result column="execution_time" jdbcType="BIGINT" property="executionTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, flow_no, risk_flow_no, incident_code, incident_name,
    request_payload, primary_element, metric, extra,
    hit_online_rules, hit_mock_rules, primary_rule,
    decision_result, execution_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from engine_result
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="risk.engine.db.entity.EngineResultPO">
    insert into engine_result (
      flow_no, risk_flow_no, incident_code, incident_name,
      request_payload, primary_element, metric, extra,
      hit_online_rules, hit_mock_rules, primary_rule,
      decision_result, execution_time, create_time
    ) values (
               #{flowNo,jdbcType=VARCHAR}, #{riskFlowNo,jdbcType=VARCHAR}, #{incidentCode,jdbcType=VARCHAR}, #{incidentName,jdbcType=VARCHAR},
               #{requestPayload,jdbcType=LONGVARCHAR}, #{primaryElement,jdbcType=LONGVARCHAR}, #{metric,jdbcType=LONGVARCHAR}, #{extra,jdbcType=LONGVARCHAR},
               #{hitOnlineRules,jdbcType=LONGVARCHAR}, #{hitMockRules,jdbcType=LONGVARCHAR}, #{primaryRule,jdbcType=LONGVARCHAR},
               #{decisionResult,jdbcType=VARCHAR}, #{executionTime,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
             )
  </insert>

</mapper>