<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="risk.engine.db.dao.EngineResultMapper">
  <resultMap id="BaseResultMap" type="risk.engine.db.entity.EngineResult">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="incident_code" jdbcType="VARCHAR" property="incidentCode" />
    <result column="incident_name" jdbcType="VARCHAR" property="incidentName" />
    <result column="rule_code" jdbcType="VARCHAR" property="ruleCode" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="rule_status" jdbcType="INTEGER" property="ruleStatus" />
    <result column="rule_score" jdbcType="INTEGER" property="ruleScore" />
    <result column="rule_decision_result" jdbcType="VARCHAR" property="ruleDecisionResult" />
    <result column="rule_label" jdbcType="VARCHAR" property="ruleLabel" />
    <result column="rule_penalty_action" jdbcType="VARCHAR" property="rulePenaltyAction" />
    <result column="rule_version" jdbcType="VARCHAR" property="ruleVersion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="risk.engine.db.entity.EngineResult">
    <result column="request_payload" jdbcType="LONGVARCHAR" property="requestPayload" />
  </resultMap>

  <sql id="Base_Column_List">
    id, incident_code, incident_name, rule_code, rule_name, rule_status, rule_score,
    rule_decision_result, rule_label, rule_penalty_action, rule_version, create_time
  </sql>

  <select id="selectByExample" parameterType="risk.engine.db.entity.EngineResult" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from engine_result
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 12 18:54:16 CST 2025.
    -->
    select 
    <include refid="Base_Column_List" />
    from engine_result
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from engine_result
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="risk.engine.db.entity.EngineResult">
    insert into engine_result (id, incident_code, incident_name, 
      rule_code, rule_name, rule_status, 
      rule_score, rule_decision_result, rule_label, 
      rule_penalty_action, rule_version, create_time, 
      request_payload)
    values (#{id,jdbcType=BIGINT}, #{incidentCode,jdbcType=VARCHAR}, #{incidentName,jdbcType=VARCHAR}, 
      #{ruleCode,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, #{ruleStatus,jdbcType=INTEGER}, 
      #{ruleScore,jdbcType=INTEGER}, #{ruleDecisionResult,jdbcType=VARCHAR}, #{ruleLabel,jdbcType=VARCHAR}, 
      #{rulePenaltyAction,jdbcType=VARCHAR}, #{ruleVersion,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{requestPayload,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="risk.engine.db.entity.EngineResult">
    update engine_result
    set incident_code = #{incidentCode,jdbcType=VARCHAR},
      incident_name = #{incidentName,jdbcType=VARCHAR},
      rule_code = #{ruleCode,jdbcType=VARCHAR},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      rule_status = #{ruleStatus,jdbcType=INTEGER},
      rule_score = #{ruleScore,jdbcType=INTEGER},
      rule_decision_result = #{ruleDecisionResult,jdbcType=VARCHAR},
      rule_label = #{ruleLabel,jdbcType=VARCHAR},
      rule_penalty_action = #{rulePenaltyAction,jdbcType=VARCHAR},
      rule_version = #{ruleVersion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>