<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="risk.engine.db.dao.ListLibraryMapper">
  <resultMap id="BaseResultMap" type="risk.engine.db.entity.ListLibraryPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="list_library_code" jdbcType="VARCHAR" property="listLibraryCode" />
    <result column="list_library_name" jdbcType="VARCHAR" property="listLibraryName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="list_category" jdbcType="TINYINT" property="listCategory" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="risk.engine.db.entity.ListLibraryPO">
    <result column="list_library_desc" jdbcType="LONGVARCHAR" property="listLibraryDesc" />
  </resultMap>

  <sql id="Base_Column_List">
    id, list_library_code, list_library_name, status, list_category, operator, list_library_desc, create_time,
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    from list_library
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByExample" parameterType="risk.engine.db.entity.example.ListLibraryExample" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from list_library
    <where>
      <if test="listLibraryCode != null and listLibraryCode != '' ">
        list_library_code = #{listLibraryCode,jdbcType=VARCHAR}
      </if>
      <if test="listLibraryName != null and listLibraryName != '' ">
        and list_library_name = #{listLibraryName,jdbcType=VARCHAR}
      </if>
      <if test="listCategory != null">
        and list_category = #{listCategory,jdbcType=TINYINT}>
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from list_library
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="risk.engine.db.entity.ListLibraryPO">
    insert into list_library (id, list_library_code, list_library_name, 
      status, list_category, operator, 
      create_time, update_time, list_library_desc)
    values (#{id,jdbcType=BIGINT}, #{listLibraryCode,jdbcType=VARCHAR}, #{listLibraryName,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{listCategory,jdbcType=TINYINT}, #{operator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{listLibraryDesc,jdbcType=LONGVARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="risk.engine.db.entity.ListLibraryPO">
    update list_library
    set list_library_name = #{listLibraryName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      list_category = #{listCategory,jdbcType=TINYINT},
      list_library_desc = #{listLibraryDesc,jdbcType=LONGVARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>