<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="risk.engine.db.dao.PenaltyRecordMapper">
  <resultMap id="BaseResultMap" type="risk.engine.db.entity.PenaltyRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flowNo" jdbcType="VARCHAR" property="flowno" />
    <result column="rule_code" jdbcType="VARCHAR" property="ruleCode" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="incident_code" jdbcType="VARCHAR" property="incidentCode" />
    <result column="incident_name" jdbcType="VARCHAR" property="incidentName" />
    <result column="penalty_code" jdbcType="VARCHAR" property="penaltyCode" />
    <result column="penalty_name" jdbcType="VARCHAR" property="penaltyName" />
    <result column="penalty_def" jdbcType="VARCHAR" property="penaltyDef" />
    <result column="penalty_reason" jdbcType="VARCHAR" property="penaltyReason" />
    <result column="penalty_result" jdbcType="VARCHAR" property="penaltyResult" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="retry" jdbcType="INTEGER" property="retry" />
    <result column="penalty_time" jdbcType="TIMESTAMP" property="penaltyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="risk.engine.db.entity.PenaltyRecordWithBLOBs">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 16 12:23:12 CST 2025.
    -->
    <result column="penalty_description" jdbcType="LONGVARCHAR" property="penaltyDescription" />
    <result column="penalty_json" jdbcType="LONGVARCHAR" property="penaltyJson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 16 12:23:12 CST 2025.
    -->
    id, flowNo, rule_code, rule_name, incident_code, incident_name, penalty_code, penalty_name, 
    penalty_def, penalty_reason, penalty_result, status, retry, penalty_time, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 16 12:23:12 CST 2025.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from penalty_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 16 12:23:12 CST 2025.
    -->
    delete from penalty_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="risk.engine.db.entity.PenaltyRecordWithBLOBs">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 16 12:23:12 CST 2025.
    -->
    insert into penalty_record (id, flowNo, rule_code, 
      rule_name, incident_code, incident_name, 
      penalty_code, penalty_name, penalty_def, 
      penalty_reason, penalty_result, status, 
      retry, penalty_time, create_time, 
      update_time, penalty_description, penalty_json
      )
    values (#{id,jdbcType=BIGINT}, #{flowno,jdbcType=VARCHAR}, #{ruleCode,jdbcType=VARCHAR}, 
      #{ruleName,jdbcType=VARCHAR}, #{incidentCode,jdbcType=VARCHAR}, #{incidentName,jdbcType=VARCHAR}, 
      #{penaltyCode,jdbcType=VARCHAR}, #{penaltyName,jdbcType=VARCHAR}, #{penaltyDef,jdbcType=VARCHAR}, 
      #{penaltyReason,jdbcType=VARCHAR}, #{penaltyResult,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{retry,jdbcType=INTEGER}, #{penaltyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{penaltyDescription,jdbcType=LONGVARCHAR}, #{penaltyJson,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="risk.engine.db.entity.PenaltyRecord">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 16 12:23:12 CST 2025.
    -->
    update penalty_record
    set flowNo = #{flowno,jdbcType=VARCHAR},
      rule_code = #{ruleCode,jdbcType=VARCHAR},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      incident_code = #{incidentCode,jdbcType=VARCHAR},
      incident_name = #{incidentName,jdbcType=VARCHAR},
      penalty_code = #{penaltyCode,jdbcType=VARCHAR},
      penalty_name = #{penaltyName,jdbcType=VARCHAR},
      penalty_def = #{penaltyDef,jdbcType=VARCHAR},
      penalty_reason = #{penaltyReason,jdbcType=VARCHAR},
      penalty_result = #{penaltyResult,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      retry = #{retry,jdbcType=INTEGER},
      penalty_time = #{penaltyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>