<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="risk.engine.db.dao.RuleVersionMapper">
  <resultMap id="BaseResultMap" type="risk.engine.db.entity.RuleVersionPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_code" jdbcType="VARCHAR" property="ruleCode" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="logic_script" jdbcType="VARCHAR" property="logicScript" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="risk.engine.db.entity.RuleVersionPO">
    <result column="groovy_script" jdbcType="LONGVARCHAR" property="groovyScript" />
    <result column="json_script" jdbcType="LONGVARCHAR" property="jsonScript" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rule_code, status, logic_script, groovy_script, json_script, version, operator, create_time, update_time
  </sql>

  <select id="selectByExample" parameterType="risk.engine.db.entity.RuleVersionPO" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    from rule_version
    where rule_code = #{ruleCode,jdbcType=VARCHAR}
    and version = #{version,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByRuleCode" parameterType="java.lang.String">
    delete from rule_version
    where rule_code = #{ruleCode,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="risk.engine.db.entity.RuleVersionPO">
    insert into rule_version (id, rule_code, status, 
      logic_script, version, operator, 
      create_time, update_time, groovy_script, 
      json_script)
    values (#{id,jdbcType=BIGINT}, #{ruleCode,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{logicScript,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{groovyScript,jdbcType=LONGVARCHAR}, 
      #{jsonScript,jdbcType=LONGVARCHAR})
  </insert>

</mapper>